GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nREPLACE_ME\n-----END PRIVATE KEY-----\n"

GOOGLE_SHEET_DAILY_LOG_TAB=Daily_Log
GOOGLE_SHEET_DAILY_STATUS_TAB=Daily_Status
GOOGLE_SHEET_COMMON_FOODS_TAB=Common_Foods
GOOGLE_SHEET_SUMMARY_DATA_TAB=Summary_Data
GOOGLE_SHEET_SETTINGS_TAB=Settings
