GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nREPLACE_ME\n-----END PRIVATE KEY-----\n"

GOOGLE_SHEET_DAILY_LOG_TAB=DailyLog
GOOGLE_SHEET_DAILY_STATUS_TAB=DailyStatus
GOOGLE_SHEET_COMMON_FOODS_TAB=CommonFoods
GOOGLE_SHEET_TARGETS_TAB=Targets
